<!-- <div class="product-card">
  <img src="{{ product.image }}" alt="Product Image" class="product-image" />
  <div class="product-info">
    <h2 class="product-title">{{ product.title }}</h2>
    <p class="product-description">{{ product.description }}</p>
    <p class="product-price">{{ product.price }}$</p>
  </div>
  <div class="card-footer">
    <button
      *ngIf="!quantityDisplayed"
      class="add-to-cart-button"
      (click)="addToCart()"
    >
      Add to Cart
    </button>
    <div class="input-group" *ngIf="quantityDisplayed">
      <input type="number" class="form-control" min="1" placeholder="1" />
      <button class="add-to-cart-button2" (click)="add()">Add</button>
    </div>
  </div>
</div>
 -->
